* {
  margin: 0; /*remove a margem padrão de todos os elementos */
  padding: 0; /*remove o padding de todos os elementos */
  box-sizing: border-box; /*Inclui bordas e preenchimentos no calculo da largura e altura do elementos*/
}

body {
  /*Corpo*/
  background-image: url(imagem_de_fundo.jpg); /*imagem de fundo*/
  background-size: cover; /* Faz a imagem cobrir toda a área disponível */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  height: 100vh; /* Faz com que o elemento ocupe 100% da altura da viewport */
  color: rgb(0, 0, 0); /* Cor do texto, para contraste com a imagem */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

header {
    background-color: #e00000;
    padding: 27px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
}

main {
  padding: 70px;
  text-align: center;
  display: flex;
  background-color: #e00000;
    position: absolute;
  max-width: 170px;
  top: 23%;
  justify-content: center;

}

main img {
  /* Configurações da logo senai login */
  position: absolute;
  max-width: 170px;
  top: 23%;
  justify-content: center;
}

.logoSenai{ /*CADASTRO */
  position: absolute;
  max-width: 170px;
  top: 23%;
  justify-content: center;
} 
.telaInicial{
flex: 1;
}

.containerCadastro {
  background-color: #e00000;
  flex-direction: row;
  border-radius: 10px;
  flex: 1;
}
.formulario-cadastro{
  justify-content: center;

}

.formulario-login{
  justify-content: center;
}

.botao1 {
  /*redireciona para login*/
  width: 230px;
  height: 45px;
  background-color: #fcfcfc;
  border-radius: 10px;
  max-width: 250px;
  top: 41.5%;
  position: absolute;
  left: 42.8%;
  z-index: 1;
  cursor: pointer; 
  border: 0;

}

.botao2 {
  /*redireciona para cadastro*/
  width: 230px;
  height: 45px;
  background-color: #fcfcfc;
  border-radius: 10px;
  max-width: 250px;
  top: 52%;
  position: absolute;
  left: 42.8%;
  z-index: 1;
  cursor: pointer;
  border: 0;

}

.retangulo1 {
  /*Área email (login)*/
  width: 200px;
  height: 45px;
  background-color: #fcfcfc;
  border-radius: 10px;
  max-width: 250px;
  top: 41.5%;
  position: absolute;
  left: 44%;
  text-align: center;
  padding: 13px;
  color: #000000;
}

.retangulo2 {
  /*Área senha (login)*/
  width: 200px;
  height: 45px;
  background-color: #fcfcfc;
  border-radius: 10px;
  max-width: 250px;
  top: 52%;
  position: absolute;
  left: 44%;
  text-align: center;
  padding: 13px;
  color: #000000;
}

.inputEmail {
  /*Área email (cadastro)*/
  background-color: #fcfcfc;
  border-radius: 10px;
  max-width: 250px;
  text-align: center;
  padding: 10px;
  color: #000000;
  margin-top: 2%;
}

.inputSenha {
  /*Área senha (cadastro)*/
  background-color: #fcfcfc;
  border-radius: 10px;
  max-width: 250px;
  text-align: center;
  padding: 10px;
  color: #000000;
  margin-top: 2%;
}

.inputNome {
  /*Área nome completo (cadastro)*/
  background-color: #fcfcfc;
  border-radius: 10px;
  max-width: 250px;
  text-align: center;
  padding: 10px;
  color: #000000;
  margin-top: 2%;
}

.botao3 {
  /*redireciona para tela inicial (login)*/
  width: 126px;
  height: 26px;
  background-color: #c0baba;
  border-radius: 10px;
  max-width: 250px;
  top: 64.5%;
  position: absolute;
  left: 47%;
  z-index: 1;
  cursor: pointer;
  border: 0;
}

.botao4 {
  /*redireciona para entrar no site (login)*/
  width: 99px;
  height: 26px;
  background-color: #c0baba;
  border-radius: 10px;
  max-width: 250px;
  top: 60%;
  position: absolute;
  left: 47.8%;
  z-index: 1;
  cursor: pointer;
  border: 0;

}

.botao5 {
  /*redireciona para tela inicial (cadastro)*/
  background-color: #c0baba;
  border-radius: 10px;
  max-width: 250px;
  text-align: center;
  padding: 10px;
  z-index: 1;
  cursor: pointer;
  border: 0;
  margin-top: 1%;
}

.botao6 {
  /*redireciona para entrar no site (cadastro)*/
  background-color: #c0baba;
  border-radius: 10px;
  max-width: 250px;
  text-align: center;
  padding: 10px;
  z-index: 1;
  cursor: pointer;
  border: 0;
  margin-top: 1%;
}

footer {
    background-color: #e00000;/*cor de fundo*/
    color: #5e5e5e;
    padding: 13px;
    position: absolute;
    text-align: center; /*alinha o texto no radapé da tela */
    bottom: 0;/*A linha do rodapé abaixo da página */
    position: absolute;/*Posiciona o radapé de forma absoluta em relação ao body*/
    width: 100%;/*Define a largura do rodapé como 100% da janela de vizualização*/
  }
