* {
    margin: 0; /*remove a margem padrão de todos os elementos */
    padding: 0; /*remove o padding de todos os elementos */
    box-sizing: border-box; /*Inclui bordas e preenchimentos no calculo da largura e altura do elementos*/
  }

  body{
    background-image: url(imagem_de_fundo.jpg);
    background-size: cover; /* Faz a imagem cobrir toda a área disponível */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    height: 100vh; /* Faz com que o elemento ocupe 100% da altura da viewport */
    color: white; /* Cor do texto, para contraste com a imagem */
   
}



main{
    padding: 30px;
    text-align: center;
}

main img {
    max-width: 170px;
    top: 25%;
    position: absolute;
    left: 45%;
}

.retangulo {
    width: 308px; /* Largura do retângulo */
    height: 215px; /* Altura do retângulo */
    background-color: #E00000; /* Cor de fundo do retângulo */
    border-radius: 10px; /* Arredondar os cantos (opcional) */
    max-width: 250px;
    top: 35%;
    position: absolute;
    left: 42.5%;
}

.botao1 {
    width: 238px; /* Largura do retângulo */
    height: 46px; /* Altura do retângulo */
    background-color: #EFEFEF; /* Cor de fundo do retângulo */
    border-radius: 10px; /* Arredondar os cantos (opcional) */
    max-width: 250px;
    top: 42%;
    position: absolute;
    left: 42.8%;
    z-index: 1;
    cursor: pointer;
}


.botao2 {
    width: 238px; /* Largura do retângulo */
    height: 46px; /* Altura do retângulo */
    background-color: #EFEFEF; /* Cor de fundo do retângulo */
    border-radius: 10px; /* Arredondar os cantos (opcional) */
    max-width: 250px;
    top: 50%;
    position: absolute;
    left: 42.8%;
    z-index: 1;
    cursor: pointer;
}




